@charset "UTF-8";

body {
  color: var(--text);
}

.section_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  padding: 80px 0;
}

section h2 {
  font-size: 36px;
  margin-bottom: 50px;
  color: var(--text);
}

/* Mobile */
@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }

  section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .section_container {
    padding: 0 20px;
  }
}
